/* styles.css */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .column {
    flex: 0 0 calc(25% - 20px); /* Adjust the width of columns as needed */
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
  }
  
 
  
  /* Optional: Add media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .column {
      flex: 0 0 calc(50% - 20px); /* 2 columns on smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .column {
      flex: 0 0 calc(100% - 20px); /* 1 column on even smaller screens */
    }
  }
  