/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-bg {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50.2625rem;
  flex-shrink: 0;
  background: #fafafb;
}

.header-bg .header {
  width: 89%;
  max-width: none;
  height: auto;
  /* padding-top: 50px; */
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-bg .header .content {
  /* width: 600px; */
  height: 80%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.header-bg .header .content h1 {
  color: #226666;
  font-weight: bold;
  width: 62.375rem;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
  /* border: 2px solid red; */
}

.header-bg .header .content p {
  width: 60rem;
  justify-content: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  justify-content: center;
  opacity: 0.45;
  /* border: 3px solid red; */
}

.header-bg .header .content button {
  width: 150px;
  height: auto;
  padding: 10px 10px;
  background: #b13557;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px gray;
  justify-content: center;
}

.header-bg .header .content button:hover {
  transform: scale(1.05);
}


.header-bg .header .image {
  width: 100%;
  min-width: 300px; /* Adjust the minimum width as needed */
  height: auto;
  /* display: flex; */
  justify-content: center;
  padding-top: 30px;
  z-index: 2;
  /* border: 3px solid red; */
  max-width: 100%;
}



/* Media queries */

 @media screen and (max-width: 1050px) {
  .header-bg .header {
    padding-top: 0px;
  }

  .header-bg .header .content {
    margin-top: 40px;
  }

  .header-bg .header .content h1 {
    font-size: 32px;
  }

  .header-bg .header .content button {
    font-size: 1.2rem;
  }
} 

@media screen and (max-width: 750px) {
  .header-bg .header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header-bg .header .image .img-fluid{
    /* border: 3px solid red; */
    width: 100%;
  }
  .header-bg .header .content button {
    font-size: 1.2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  

  .header-bg .header .content {
    margin-top: 20px;
    gap: 10px;
    align-items: center;
  }

  .header-bg .header .content p {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    /* border: 2px solid red; */
  }

  .header-bg .header .content h1 {
    color: #266;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    width: 80%;
  }
  .header-bg .header .content button {
    font-size: 1.2rem;
    align-items: center;
  }
}


