/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Updated styles for the header */
.header-bg {
  background: #fafafb;
  padding: 20px 0;
  /* height: 67vh;  */
}

.header {
  display: flex;
}

/* Updated styles for the content */
.content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 0 50px;
}

/* Updated styles for the image */
.image {
  flex: 1;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 3px solid red; */
}

.img-fluid {
  width: 100%;
  height: auto;
  max-height: 100%; /* Ensure the image does not exceed the parent container's height */
}

.header-bg .header .content h1 {
  color: #226666;
  font-weight: bold;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5.2rem;
  /* border: 2px solid red; */
  padding-top: 8rem;
}

.header-bg .header .content p {
  width: 60rem;
  justify-content: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  justify-content: center;
  opacity: 0.45;
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  /* border: 3px solid red; */
}

.header-bg .header .content button {
  width: 150px;
  height: auto;
  padding: 10px 10px;
  background: #b13557;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  box-shadow: 2px 2px 4px gray;
  justify-content: center;
  height: 50px;
}

.header-bg .header .content button:hover {
  transform: scale(1.05);
}

/* ThankYou.css */
.thank-you-container {
  /* border: 2px solid green;  */

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to fill the viewport */
}

.thank-you-image {
  /* border: 2px solid red; */
  width: 100%; /* Make sure the image takes the full width of the container */
}

.thankyou {
  /* border: 2px solid red; */
  height: 70%;
  margin-top: 7rem;
}
.text-container {
  /* border: 2px solid red; */
  margin-bottom: 90px;
  position: absolute;
  text-align: center;
  z-index: 1; 
}
.text-container h1 {
  font-size: 4rem;
  color: #266;
  
}
.text-container p {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  line-height: 150%; 
}
h1, p {
  margin: 0; 
  padding: 0; 
}
/* Media queries */

@media screen and (max-width: 1050px) {
  .header-bg .header {
    padding-top: 0px;
  }

  .header-bg .header .content {
    margin-top: 40px;
  }
  .header-bg .header .content p{
    margin-top: 10px;
    /* border: 2px solid red; */
    /* width: 100%; */
  }
  .header-bg .header .content h1 {
    font-size: 100%;
  }

  .header-bg .header .content button {
    font-size: 1.2rem;

  }
}

@media screen and (max-width: 750px) {
  .thank-you-container {
    /* border: 2px solid green;  */
    margin-bottom: -35rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to fill the viewport */
  }
  
  .thankyou{
    height: 35%;
        /* border: 2px solid red; */
        margin-bottom: 38rem;

  }

  .text-container {
    /* border: 2px solid red; */
    margin-bottom: 20px;
    position: absolute;
    text-align: center;
    z-index: 1; 
    margin-bottom: 40rem;

    

  }
  .text-container h1 {
    font-size: 2rem;
    color: #266;
    
  }
  .text-container p {
    font-size: 0.51rem;
    color: black;
    font-weight: 400;
    line-height: 150%; 
  }
  h1, p {
    margin: 0; 
    padding: 0; 
  }
  .header-bg .header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header-bg .header .image .img-fluid {
    /* border: 3px solid red; */
    width: 100%;
  }
  .header-bg .header .content button {
    font-size: 1.2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .header-bg .header .content {
    margin-top: 20px;
    gap: 10px;
    align-items: center;
  }

  .header-bg .header .content p {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    /* border: 2px solid red; */
  }

  .header-bg .header .content h1 {
    color: #266;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    width: 80%;
  }
  .header-bg .header .content button {
    font-size: 1.2rem;
    align-items: center;
  }
}
