/** @format */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.header nav {
  background: #ffffff !important;
}

.navbar-brand {
  max-width: 200px;
  height: auto;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: -20px;
}

.logo-massaviu {
  /* position: fixed; */
  padding: 6px;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  width: 198px;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  transition: background-color 0.3s ease; /* Add a smooth background color transition if desired */
}
.custom-dropdown-menu {
  background-color: #ccc; /* Replace with your desired background color */
}
.navbar .nav-item .nav-link:hover {
  border-bottom: 3px solid #b13557;
  transition: 0.15s;
  animation: ease-in;
}
/* .nav-link {
  border: none !important;
} */

.container-fluid {
  margin: 0 30px !important;
}
.navbar-nav {
  font-size: 14px;
  color: #555555;
  font-weight: 600;
  margin-left: 30rem;
  display: inline-flex;
  align-items: flex-start;
  gap: 3.125rem;
}



.navbar-nav li .dropdown-menu h6 {
  font-size: 14px !important;
  font-weight: bold;
}
.navbar-nav li .dropdown-menu p {
  font-size: 12px !important;
}
.control {
  border: 1px solid black;
  float: left;
  margin: 0;
  padding: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 490px;
  margin-top: 30px;
  height: 15px;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 600;
  height: 40px;
  padding: 0.6em 1.4em 0.5em 0.8em;
}
.rapp{
  color: #010101;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.03125rem;
opacity: 0.45;
}
.head h5 {
  color: #226666;
}
.head p {
  color: #1a202c;
  font-weight: 500;
}
.head .btn {
  background-color: #b13557;
  color: #ffffff;
  font-size: 16px;
}
.head .btn:hover {
  color: #ffffff !important;
  background-color: #d15072 !important;
  border-color: none !important;
}
#sec-2 h3 {
  color: #226666 !important;
  font-weight: bold;
}
#sec-3 {
  background: #fafafb !important;
}
#sec-3 h3 {
  color: #226666 !important;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 105.882% */
}
#sec-3 p {
  color: #555;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
  display: flex;
  height: 5.1875rem;
  flex-direction: column;
  justify-content: center;
}
#sec-4 p {
  color: #555555 !important;
  font-size: 16px;
  font-weight: 500;
}
#sec-0 p {
  color: #226666 !important;
  font-size: 16px;
  font-weight: 500;
}
#sec-0 span {
  color: #3d3d3d;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
  display: flex;
  height: 11rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

#sec-5 {
  background: #eff3fd !important;
}

#sec-5 h3 {
  color: #226666 !important;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 105.882% */
}

#sec-6 h3 {
  color: #266;
  text-align: center;
  font-family: Poppins;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 142.857% */
}
#sec-6 p {
  color: #1a202c;
  /* text-align: center; */
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
  display: flex;
  height: 4.21356rem;
  flex-direction: column;
  justify-content: center;
}

#sec-6 .service-feat p {
  color: #696969;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;
}

#sec-6 h4 {
  color: #266;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 166.667% */
  display: flex;
  width: 7.75rem;
  height: 1.125rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.tandc {
  color: #fff;
  text-align: right;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.02rem;
}

#sec-5 p {
  color: #555555 !important;
  font-size: 14px;
}
#sec-5 a {
  text-decoration: none;
  color: #555555;
  font-weight: 500;
}
#sec-5 .btn-serv {
  background-color: #d9d9d9;
  color: #555555;
  font-size: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
#sec-7 h3 {
  color: #226666;
}

.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Minimum height of the viewport */
}

.threestep {
  text-align: center; /* Center the image horizontally within its container */
}

.threestep img {
  max-width: 100%; /* Ensure the .image doesn't exceed its container's width */
  max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

.portfolio p {
  color: #555;
  text-align: justify;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem; /* 156.25% */
  text-transform: capitalize;
}
.card-portfolio {
  background: #fafafb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 23rem;
}
.portfolio a {
  color: #266;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 100% */
  letter-spacing: 0.01125rem;
  display: flex;
  width: 16.0625rem;
  height: 2.25rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.card-boo{
  color: #010101;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 120% */
letter-spacing: 0.00938rem;
display: flex;
/* width: 58.5rem; */
height: 8rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.ourd{
  color: #1A202C;
text-align: justify;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
 line-height: 1.5rem; 
letter-spacing: 0.00938rem;
}
.port-btn {
  display: flex;
  width: 12.375rem;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.02rem;
}
.btn-real {
  background-color: #b13557 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  border: none !important;
  padding: 10px 30px !important;
  border-radius: 0.36738rem
}
.btn-real:hover {
  color: #ffffff !important;
  background-color: #d15072 !important;
  border-color: none !important;
  transform: scale(1.05);
}
.bg-card {
  background: #dde0e4 !important;
  border: none !important;
}
.bg-card small {
  color: #b13557 !important;
  font-weight: 500;
}
.bg-card span {
  color: #226666 !important;
  font-weight: 500;
}

footer {
  background: #1a202c;
  height: 30rem;
  flex-shrink: 0;
}
footer h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 1.875rem */
  letter-spacing: -0.025rem;
  display: flex;
  width: 9.5rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
footer a {
  text-decoration: none;
  color: #ffffff;
  /* font-size: 14px; */
}
footer p {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: -0.02rem;
}
footer .border-top {
  border-top: 1px solid rgba(72, 98, 132, 0.16) !important;
}
footer ul li a {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.02rem;
  display: flex;
  height: 2.75rem;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.client-wrapper {
  width: 90%;
  padding: 0 35px;
  margin: 0 auto;
  position: relative;
}

.client-wrapper .client-carousel {
  display: flex;
}

.client-wrapper i {
  display: none;
}

.client-wrapper .client-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 5);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.client-wrapper i {
  display: inline;
  top: 20%;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #b13557;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  transform: translateY(-50%);
}

.client-wrapper i:first-child {
  left: 20px;
  z-index: 10;
}

.client-wrapper i:last-child {
  right: 25px;
  z-index: 10;
}

.client-carousel::-webkit-scrollbar {
  display: none;
}

.client-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.client-carousel.dragging img {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}

.client-carousel img {
  width: 150px;
  scroll-snap-align: start;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  position: relative;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .client-wrapper .client-carousel {
    grid-auto-columns: calc(100% / 4);
    gap: 2px;
  }

  .client-carousel img {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 900px) {
  .client-wrapper .client-carousel {
    grid-auto-columns: calc(100% / 4);
    gap: 2px;
  }

  .client-carousel img {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 550px) {
  .client-wrapper .client-carousel {
    grid-auto-columns: calc(100% / 3);
    gap: 2px;
  }

  .client-carousel img {
    padding-left: 25px;
    padding-right: 25px;
  }

  .client-wrapper {
    width: 100%;
    padding: 0 25px;
  }

  .client-wrapper i:first-child {
    left: 10px;
  }

  .client-wrapper i:last-child {
    right: 10px;
  }

  .navbar-brand {
    width: 130px;
  }
}

@media (max-width: 990px) {
  .col-md-aut {
    max-width: 90% !important;
  }
}

.frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 119px;
  position: relative;
}

.frame .group {
  height: 381px;
  position: relative;
  width: 352px;
}

.frame .div {
  height: 165px;
  left: 173px;
  position: absolute;
  top: 88px;
  width: 179px;
}

.frame .plan-we-understand {
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 74px;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 91px;
  width: 177px;
}

.frame .text-wrapper {
  color: #b13557;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.frame .span {
  color: #3d3d3d;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.frame .img-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 12px 6px #00000026;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.frame .architecture-plan {
  height: 24px;
  left: 17px;
  position: absolute;
  top: 18px;
  width: 27px;
}

.frame .text-wrapper-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(61.48, 61.48, 61.48) 0%,
    rgba(255, 248.63, 248.63, 0) 83.61%
  );
  background-clip: text;
  color: transparent;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 266.3px;
  font-weight: 700;
  height: 381px;
  left: 0;
  letter-spacing: 1.9px;
  line-height: 380.4px;
  position: absolute;
  text-align: center;
  /* text-fill-color: transparent; */
  top: 0;
  white-space: nowrap;
}

.frame .group-2 {
  height: 381px;
  position: relative;
  width: 366px;
}

.frame .group-3 {
  height: 165px;
  left: 173px;
  position: absolute;
  top: 87px;
  width: 193px;
}

.frame .p {
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 74px;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 24px;
  position: absolute;
  top: 91px;
}

.frame .text-wrapper-3 {
  color: #b13557;
  font-weight: 700;
}

.frame .text-wrapper-4 {
  color: #3d3d3d;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
}

.frame .edit-note-icon {
  height: 24px;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 25px;
}

.frame .group-4 {
  height: 381px;
  margin-right: -2px;
  position: relative;
  width: 371px;
}

.frame .group-5 {
  height: 165px;
  left: 173px;
  position: absolute;
  top: 78px;
  width: 198px;
}

.frame .text-wrapper-5 {
  color: #b81e4c;
  font-weight: 700;
}

.frame .grow-money-icon {
  height: 24px;
  left: 22px;
  position: absolute;
  top: 18px;
  width: 16px;
}

.box {
  height: 630px;
  width: 1454px;
}

.box .rectangle {
  background-color: #eff3fd;
  height: 630px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1454px;
}
